<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
        <legend>Add expense</legend>

        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radioExpenseType" formControlName="radioExpenseType" value="recurringCost">
            <span>
              Recurring cost
            </span>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radioExpenseType" formControlName="radioExpenseType" value="recurringBill" checked>
            <span>
              Recurring bill
            </span>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radioExpenseType" formControlName="radioExpenseType" value="oneTimeCost">
            <span>
              One-time cost
            </span>
          </div>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="name">Name</label>
          <input class="form-control" id="name" type="text" formControlName="name">
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="date">Due Date</label>
          <input class="form-control" id="date" type="text" formControlName="date">
        </div>
        
        <div class="input-group mb-3">
          <span class="input-group-text">Typical cost</span>
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" formControlName="cost">
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="status">Status</label>
          <select class="form-select" id="status" formControlName="status">
            <option selected>Choose...</option>
            <option value="0">Due</option>
            <option value="1">Processing</option>
            <option value="2">Automatic</option>
            <option value="3">Paid</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <div class="col-md-8">
      <div id="recurringCosts">
        <table class="table caption-top">
          <caption>Recurring costs</caption>
          <thead>
            <tr>
              <th scope="col">Due Date</th>
              <th scope="col">Name</th>
              <th scope="col">Typical cost</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cost of costs">
              <td>{{ cost.dueDate }}</td>
              <td>{{ cost.name }}</td>
              <td>{{ cost.typicalCost }}</td>
              <td>{{ cost.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="recurringBills">
        <table class="table caption-top">
          <caption>Recurring bills</caption>
          <thead>
            <tr>
              <th scope="col">Due Date</th>
              <th scope="col">Name</th>
              <th scope="col">Typical cost</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cost of bills">
              <td>{{ cost.dueDate }}</td>
              <td>{{ cost.name }}</td>
              <td>{{ cost.typicalCost }}</td>
              <td>{{ cost.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="oneTimeCosts">
        <table class="table caption-top">
          <caption>One-time costs</caption>
          <thead>
            <tr>
              <th scope="col">Due Date</th>
              <th scope="col">Name</th>
              <th scope="col">Typical cost</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cost of oneCosts">
              <td>{{ cost.dueDate }}</td>
              <td>{{ cost.name }}</td>
              <td>{{ cost.typicalCost }}</td>
              <td>{{ cost.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
